@import '../../../../scss/variables.scss';

.showcase {
  width: 100%;
  height: 30%;
  align-items: flex-end;
  border: 3px solid $black;
  background: $light;
  padding: 0 10px;

  @media (max-width: 730px) {
    padding: 0 5px;
  }
}