.machine-conrols {
  width: 100%;

  @media (max-width: 730px) {

  }
}

.display-text {
  width: 80%;
  height: 22%;
  padding: 5px;
  margin-right: 10px;
}

.machine-conrols__btn {
  width: 20%;
  height: 10%;
  align-self: flex-end;
  border: 2px solid #000;
}