.LayoutFlex {
  display: flex;
}

.LayoutFlex_start {
  justify-content: flex-start;
}

.LayoutFlex_end {
  justify-content: end;
}

.LayoutFlex_center {
  justify-content: center;
}

.LayoutFlex_between {
  justify-content: space-between;
}
